 .footer {
  margin-top: 60px;
  padding: 30px 20px;
  background-color: #f8d7e3;
  text-align: center;
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 6px;
}

.footer-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.footer-copy {
  font-size: 12px;
  color: #777;
}

body {
  overflow-y: auto;
}
