 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;


}

 
 
 .nav-container {
  background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px; 
}



.links {
  display: flex;
  gap: 20px;
}


button {
  background: transparent;
  border: none;
  font-size: 17px; 
  cursor: pointer;
  padding: 10px 14px; 
  border-radius: 6px;
  transition: 0.25s;
}


button:hover {
  background-color: #d0d0d0;
}


.nav-container img {
  width: 28px;
  cursor: pointer;
}


.logo {
  font-size: 32px; 
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.products-container {
  display: grid;
  gap: 24px;
  padding: 24px;
}

.product-card {
  padding: 16px;
  border-radius: 16px;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 40px auto;
  max-width: 600px;
}

.product-card h4 {
  font-size: 18px;
  font-weight: 600;
}

.product-card p {
  font-size: 14px;
  color: dimgrey;
}

.product-detail {
  max-width: 600px;
  margin: 40px auto;
  padding: 32px;
  background-color: darkgray;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

