.nav-container {
  background-color: gainsboro;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 30px;           
}



.links {
  display: flex;
  gap: 20px;
}


button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.25s;
}

button:hover {
  background-color: #d0d0d0;
}


.nav-container img {
  width: 28px;
  cursor: pointer;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;  
  text-transform: uppercase;
}
