 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  background-color: #f2f2f2; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  font-family: 'Poppins', sans-serif;
}

.links {
  display: flex;
  gap: 20px;
}


.nav-container button {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 12px 22px;
  border-radius: 999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.nav-container button:hover {
  background-color: #f8d7e3; 
}


.nav-container img {
  width: 90px;
  cursor: pointer;
}

.logo-img {
  width: 60px;
  height: auto;
  cursor: pointer;
}
.nav-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 12px 22px;
  border-radius: 999px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.25s ease;
}

.nav-btn:hover {
  background-color: #f8d7e3;
}
